.container-fluid {
  background: url('/assets/images/fondologin2.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.position-relative {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 36px;
  cursor: pointer;
  background: none;
  border: none;
  color: #6c757d;
  width: 30px; /* Ajusta el ancho del botón */
  height: 30px; /* Ajusta el alto del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px; /* Elimina el padding para reducir el tamaño */
}
.toggle-password:focus {
  outline: none;
}
.toggle-password i {
  font-size: 16px; /* Ajusta el tamaño del icono */
}
.logo {
  max-width: 300px; /* Tamaño máximo del logo */
  height: auto; /* Mantiene la proporción del logo */
  margin-bottom: 1rem; /* Espacio entre el logo y el contenedor de texto */
}
.rounded-custom {
  border-radius: 45px; /* Bordes redondeados */
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  width: 80%; /* Ancho del formulario */
  padding: 2rem; /* Espacio interno */
  border-radius: 45px; /* Bordes redondeados */
}

.text-container {
  background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  backdrop-filter: blur(10px); /* Efecto de vidrio esmerilado */
  border-radius: 56px; /* Bordes redondeados */
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semi-transparente */
  width: 90%;
  margin-bottom: 20px; /* Espacio entre el contenedor de texto y otros elementos */
}

.min-vh-100 {
  min-height: 100vh;
}

.form-control {
  border-radius: 56px; /* Bordes redondeados para los campos de entrada */
  margin-bottom: 1rem; /* Espacio entre los campos de entrada */
}
.form-select {
  border-radius: 56px; /* Bordes redondeados para el campo de selección */
  margin-bottom: 1rem; /* Espacio entre el campo de selección y otros elementos */
}

.btn {
  border-radius: 56px; /* Bordes redondeados para el botón */
  background-color: #5d768b; /* Color del botón */
  padding: 10px 20px; /* Espacio interno del botón */
  border: none; /* Sin borde */
  color: white; /* Color del texto del botón */
}

.btn:hover {
  background-color: #4a6478; /* Color del botón al pasar el ratón */
  border-radius: 56px;
}

.text-center {
  text-align: center; /* Centrar el texto */
}

.logo {
  max-width: 180px; /* Tamaño máximo del logo */
  height: auto; /* Mantiene la proporción del logo */
  margin-bottom: 1rem; /* Espacio entre el logo y el formulario */
}
