
<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>Servicios</h4>
      <ul>
        <li><a href="/localizar">Propiedades</a></li>
        <li><a href="/amodeco">Posibles servicios exequiales</a></li>
        

      </ul>
    </div>
    <div class="footer-section">
      <h4>Nosotros</h4>
      <ul>
        <li><a href="#">Mision</a></li>
        <li><a href="#">Vision</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contacto</h4>
      <ul>
        <li><a href="#">Teléfono:</a></li>
        <li><a href="#">Correo electrónico: </a></li>
        <li><a href="/ruta-cementerio">Ubícanos</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-icons">
    <a href="https/instagram.com"><img src="../../../assets/images/instagram-icon.png" alt="Instagram"></a>
    <a href="#"><img src="../../../assets/images/facebook-icon.png" alt="Facebook"></a>
  </div>
  <br>
  <div class="footer-rights">
    <b>&copy; 2025 Cementerio de Colón. Todos los derechos reservados.</b>
  </div>
  
</footer>
