<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="card shadow-lg p-4 bg-body rounded-custom">
        <div class="card-body text-center">
          <!-- Logo en lugar del título -->
          <img src="/assets/images/logonegro.png" alt="Logo" class="logo mb-4">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="cedula" class="form-label">Cédula</label>
              <input type="text" class="form-control" id="cedula" [(ngModel)]="cedula" name="cedula" required>
            </div>
            <div class="mb-3 position-relative">
              <label for="contrasena" class="form-label">Contraseña</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="contrasena"
                [(ngModel)]="contrasena" name="contrasena" required>
              <button type="button" class="btn btn-outline-secondary toggle-password"
                (click)="togglePasswordVisibility()">
                <i class="fas" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
              </button>
            </div>
            
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
          </form>
          <div class="mt-3 text-center">
            <p>¿No tienes cuenta? <a [routerLink]="['/registro']">Crear una</a></p>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="text-container">
        <h1>Cementerio de Colón</h1>
        <h5>Somos Hogar, somos Familia</h5>
        <br>
        <h6>Conoce la experiencia que el Cementerio de Colón te brinda. Capaz de gestionar tus peticiones donde quieras.
        </h6>
      </div>
    </div>
  </div>
</div>