<div class="dashboard-container">
  <div class="tomb-container">
    <div class="tomb" *ngFor="let person of people">
      <div class="tomb-header">
        <h3>{{ person.name }}</h3>
      </div>
      <div class="tomb-body">
        <p><strong>Fecha de Nacimiento:</strong> {{ person.birthDate }}</p>
        <p><strong>Fecha de Fallecimiento:</strong> {{ person.deathDate }}</p>
        <p><strong>Información Adicional:</strong> {{ person.additionalInfo }}</p>
      </div>
    </div>
  </div>
</div>
